.container {
  display: flex;
  background-color: rgb(10, 104, 56);
  width: 100%;
  height: calc(100vh - 10vh);
  padding: 0px 0px;
  margin: 0px 0px;
  border-bottom: 2px solid #ddd;

}

.button-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0px 0px;
}

.submit-button button {
  font-size: 16px;
  cursor: pointer;
}
